@using GiantNationalBankClient.Models
@model GetAllAccountsResponseModel
@{
    ViewData["Title"] = "All Accounts";
}

<section class="intro">
    <h1>User Accounts</h1>
</section>
<section class="dashboardLinks">
    <ul>
        <li class="nav-item">
            <a href="javascript: history.go(-1)">Back to Dashboard</a>
            @Html.ActionLink("Create New Account", "CreateAccount", "User", new { userId = Model.UserId })
        </li>
    </ul>
</section>

<section>
    <h4>Bank Accounts</h4>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>AccountID</th>
                <th>UserID</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.AccountList != null && Model.AccountList.Count > 0)
            {
                @foreach (var account in Model.AccountList)
                {
                    <tr data-bs-toggle="collapse" data-bs-target="@("#foraccount" + account.AccountID)">
                        <td>@account.AccountID</td>
                        <td>@account.UserID</td>
                        <td>@account.Balance</td>
                    </tr>
                    @if (account.TransactionList != null && account.TransactionList.Count > 0)
                    {
                        <tr class="collapse accordion-collapse" id="@("foraccount" + account.AccountID)" data-bs-parent=".table">
                            <td colspan="3" style="padding: 10px;">
                                <table class="table table-sm table-striped table-bordered" style="margin: auto 0px;">
                                    <thead>
                                        <tr>
                                            <td>Transaction ID</td>
                                            <td>Transaction Name</td>
                                            <td>Transaction Type</td>
                                            <td>Amount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var transaction in account.TransactionList)
                                        {
                                            <tr>
                                                <td>@transaction.TransactionId</td>
                                                <td>@transaction.TransactionName</td>
                                                @if (transaction.TransactionType)
                                                {
                                                    <td>Credit</td>
                                                }
                                                else
                                                {
                                                    <td>Debit</td>
                                                }
                                                <td>@(-transaction.Amount)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr></tr>
                    }
                }
            }
        </tbody>
    </table>
</section>
